# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.o
*.ptx
composite
lib*
qrc*
moc*
core.*
.cproject
.project
org.*.prefs
.settings
*.dat
QtViewer/Makefile
CompositeViewer/output.png
viewer
*.raw
*.log
